<div class="box">
  <h1>{{ title }}</h1>
  <p>{{ message }}</p>
  <form
    [formGroup]="formulario"
    #formDir="ngForm"
    (keyup.enter)="registro ? register() : login()"
  >
    <label for="username"> Nome de usuário: </label>
    <input
      type="text"
      name="username"
      placeholder="Jhon"
      alt="Type your username"
      class="form-control"
      formControlName="username"
      required
    />
    <label for="password">
      Senha:
      <input
        type="password"
        name="password"
        alt="Type your password"
        class="form-control"
        formControlName="password"
        required
      />
    </label>
    <button type="button" (click)="registro ? register() : login()">
      Login
    </button>
    {{ registro }}
  </form>
  <div>
    <button (click)="formUpdate()">{{ sign }}</button>
  </div>
</div>
