<div class="flex flex-col justify-center items-center">
  <h1 class="text-3xl font-bold">Fazendas</h1>
  <form
    [formGroup]="formulario"
    #formDir="ngForm"
    (keyup.enter)="newFarm()"
    class="bg-white rounded px-8 pt-6 pb-8 mb-4 w-full flex items-center justify-center"
  >
    <div class="mr-10">
      <label for="name" class="text-gray-700 text-sm font-bold mb-2"
        >Nome:
      </label>
      <input
        type="text"
        name="name"
        alt="Type the farm name"
        class="form-control appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        formControlName="name"
        required
      />
      <label for="size" class="ml-4 text-gray-700 text-sm font-bold"
        >Tamanho:
      </label>
      <input
        type="number"
        name="size"
        alt="Type the farm size"
        class="form-control appearance-none border py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        formControlName="size"
        required
      />
    </div>
    <button
      type="button"
      (click)="newFarm()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-1/5"
    >
      Adicionar
    </button>
  </form>
  <table class="bg-white rounded px-8 pt-6 pb-8 mb-4 w-3/5 text-center">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tamanho</th>
        <th>goto</th>
      </tr>
    </thead>
    <tbody *ngFor="let farm of farms">
      <tr>
        <td>{{ farm.name }}</td>
        <td>{{ farm.size }}</td>
        <td>
          <app-svg-icons
            iconName="goToIcon"
            fillColor="blue"
            [routerLink]="['/farms', farm.id]"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
