<div>
  <div>
    <h1>{{ farm?.name }}</h1>
    <h3>{{ farm?.size }}</h3>
  </div>
  <div class="flex min-h-screen items-center justify-center">
    <div class="overflow-x-auto">
      <h1>Plantações</h1>
      <span *ngIf="crops.length === 0">Não existem plantações</span>
      <table *ngIf="crops.length > 0" class="">
        <thead>
          <tr class="bg-blue-gray-100 text-gray-700">
            <th class="py-3 px-4 text-left">nome</th>
            <th class="py-3 px-4 text-left">area</th>
            <th class="py-3 px-4 text-left">data de plantação</th>
            <th class="py-3 px-4 text-left">data de colheita</th>
          </tr>
        </thead>
        <tbody *ngFor="let crop of crops">
          <tr>
            <th class="py-3 px-4">{{ crop.name | titlecase }}</th>
            <th class="py-3 px-4">{{ crop.plantedArea }}</th>
            <th class="py-3 px-4">
              {{ crop.plantedDate | date: "dd/MM/yyyy" }}
            </th>
            <th class="py-3 px-4">
              {{ crop.harvestDate | date: "dd/MM/yyyy" }}
            </th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
