<div class="flex flex-col h-screen items-center justify-center w-full">
  <app-update-crop-modal
    [showModal]="showModal"
    [farm]="farm"
    (onClose)="onModalClose()"
  />
  <div class="w-11/12 flex flex-col h-1/4">
    <h1 class="mt-20 mb-10 text-xl font-bold text-black-800">
      {{ farm?.name }}
    </h1>
    <h3>Tamanho: {{ farm?.size }}</h3>
    <button (click)="toggleModal()" class="">Atualizar</button>
  </div>
  <div class="flex h-full items-center justify-center w-full h-3/4">
    <div class="w-4/5 h-full w-11/12">
      <div class="flex w-full h-1/4 p-3 items-center w-full">
        <div class="self-middle">
          <h1 class="mb-3 text-gray-800 text-xl py-2 px-3 font-bold">
            Plantações
          </h1>
          <button
            type="button"
            (click)="addCropForm()"
            [ngClass]="{
              'bg-green-500 hover:bg-green-700': !addCrop,
              'bg-red-500 hover:bg-red-700': addCrop
            }"
            class="text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            {{ addCrop ? "Cancelar" : "Adicionar" }}
          </button>
        </div>
        <form
          [formGroup]="cropForm"
          #formDir="ngForm"
          (keyup.enter)="newCrop()"
          *ngIf="addCrop"
          class="bg-white px-8 pt-6 pb-8 mb-4 w-full"
        >
          <label for="name" class="text-gray-700 text-sm font-bold mr-1"
            >Nome:</label
          >
          <input
            type="text"
            name="name"
            value=""
            formControlName="name"
            class="shadow appearance-none border rounded w-1/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2"
          />

          <label for="area" class="text-gray-700 text-sm font-bold mr-1"
            >Area</label
          >
          <input
            type="number"
            name="area"
            value=""
            formControlName="area"
            class="shadow appearance-none border rounded w-20 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-5"
          />
          <label for="plantedDate" class="text-gray-700 text-sm font-bold mr-1"
            >Data de plantação:
            <input
              type="date"
              name="plantedDate"
              value=""
              formControlName="plantedDate"
              class="shadow appearance-none border rounded w-1/8 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2"
            />
          </label>

          <label for="harvestDate" class="text-gray-700 text-sm font-bold mr-1"
            >Data de colheita:
            <input
              type="date"
              name="harvestDate"
              value=""
              formControlName="harvestDate"
              class="shadow appearance-none border rounded w-1/8 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mr-2"
            />
          </label>
          <button
            type="button"
            (click)="newCrop()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            Salvar
          </button>
        </form>
      </div>

      <div *ngIf="crops && crops.length === 0">Não existem plantações</div>
      <div class="block overflow-y-auto h-3/4">
        <table *ngIf="crops && crops.length > 0" class="table-auto w-full">
          <thead class="bg-gray-600">
            <tr class="text-white">
              <th class="py-3 px-4">nome</th>
              <th class="py-3 px-4">area</th>
              <th class="py-3 px-4">data de plantação</th>
              <th class="py-3 px-4">data de colheita</th>
              <th class="py-3 px-4">Fertilizado</th>
              <th class="py-3 px-4">funções</th>
            </tr>
          </thead>
          <tbody class="overflow-y-auto">
            <tr
              *ngFor="let crop of crops"
              class="border-b-2 border-gray-100 odd:bg-white even:bg-slate-50 hover:bg-sky-200 hover:ring-sky-200"
            >
              <td class="py-3 px-4">{{ crop.name | titlecase }}</td>
              <td class="py-3 px-4">{{ crop.plantedArea }}</td>
              <td class="py-3 px-4">
                {{ crop.plantedDate | date: "dd/MM/yyyy" }}
              </td>
              <td class="py-3 px-4">
                {{ crop.harvestDate | date: "dd/MM/yyyy" }}
              </td>
              <td class="py-3 px-4">
                {{ crop.fertilizers.length > 0 ? "Sim" : "Não" }}
              </td>
              <td class="py-3 px-4 flex justify-evenly">
                <app-svg-icons
                  iconName="updateIcon"
                  strokeColor="green"
                  class="cursor-pointer"
                />
                <app-svg-icons
                  iconName="deleteIcon"
                  strokeColor="red"
                  class="cursor-pointer"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
